---
const today = new Date();
import { Icon } from 'astro-icon/components';
---

<footer class="container mx-auto flex flex-col items-center gap-10 p-10 pb-40 text-center">
  &copy; {today.getFullYear()} Your name here. All rights reserved.
  <div class="flex items-center gap-6 text-5xl">
    <a
      href="https://jramma.com"
      target="_blank"
      class="rounded-md border-1 border-black bg-ppink py-1 pl-3 shadow-card transition hover:shadow-hover"
    >
      <Icon name="web" />
    </a>
    <a
      href="https://github.com/jramma"
      target="_blank"
      class="rounded-full border-1 border-black bg-pblue p-1 shadow-card transition hover:shadow-hover"
    >
      <Icon name="github" />
    </a>
    <a
      href="https://www.linkedin.com/in/jramma/"
      target="_blank"
      class="rounded-full border-1 border-black bg-pgreen p-1 shadow-card transition hover:shadow-hover"
    >
      <Icon name="linkedin" />
    </a>
  </div>
  <a
    href="https://buymeacoffee.com/jramma"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-2 rounded-xl bg-yellow-400 px-6 py-2 font-bold text-black shadow-md transition duration-200 hover:bg-yellow-300"
  >
    ☕ Invítame a un café
  </a>
</footer>
