---
import Link from './HeaderLink.astro';
import '../styles/hamburgers.css';
---

<header>
  <nav class="container mx-auto flex items-center justify-between px-4 py-6 md:p-10">
    <a class="flex items-center gap-2" href="/">
      <p class="font-kablamo text-4xl text-ppink md:text-5xl">S</p>
      <p class="flex pt-2 font-semibold md:text-lg">
        <span class="hidden md:block">Joaquín</span> Sorolla
      </p>
    </a>
    <ul class="hidden items-center text-nowrap md:flex md:gap-8">
      <li><Link href="/" text="Home" style="primary" /></li>
      <li><Link href="/about" text="What I do" style="secondary" /></li>
      <li><Link href="/blog" text="My work" style="tertiary" /></li>
    </ul>
    <div class="z-40 md:hidden">
      <button class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div
        id="navigation"
        class="fixed left-0 top-0 h-full w-full -translate-y-full transform bg-white transition-transform duration-300 ease-in-out"
      >
        <ul class="flex h-full flex-col items-center justify-center gap-8 text-nowrap">
          <li><Link href="/" text="Home" style="primary" /></li>
          <li><Link href="/about" text="What I do" style="secondary" /></li>
          <li><Link href="/blog" text="My work" style="tertiary" /></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<script is:inline>
  function init() {
    const hamburger = document.querySelector('.hamburger');
    const menu = document.getElementById('navigation');

    if (hamburger && menu) {
      hamburger.addEventListener('click', () => {
        hamburger.classList.toggle('is-active');
        menu.classList.toggle('-translate-y-full');
        menu.classList.toggle('translate-y-0');
      });
    }
  }
  init();
  document.addEventListener('astro:after-swap', init);
</script>
