---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
---

<section class="flex flex-col gap-10 px-4 py-20 md:flex-row md:gap-0 md:px-0">
  <div class="flex flex-col items-start justify-start gap-6 md:w-1/2">
    <h1 class="text-pblack">Hi, my name is Joaquín Sorolla</h1>
    <p class="text-6xl font-bold">Duels with the sun are fewer.</p>
    <p>
      I am Joaquín Sorolla y Bastida, a Spanish painter. A prolific artist, I left behind more than
      2,200 cataloged works.
    </p>
    <a
      rel="noopener noreferrer"
      href="https://jramma.com"
      target="_blank"
      class="rounded-lg border-1 border-black bg-pgreen px-5 py-3 shadow-card transition hover:shadow-hover"
    >
      Work together
    </a>
  </div>
  <div class="group flex items-center justify-center object-contain p-10 md:w-1/2">
    <a
      rel="noopener noreferrer"
      href="https://es.wikipedia.org/wiki/Joaqu%C3%ADn_Sorolla"
      target="_blank"
    >
      <div
        class="relative flex h-52 w-60 rounded-2xl border-3 border-black bg-pblue shadow-card transition group-hover:shadow-hover"
      >
        <div
          class="absolute -left-12 -top-8 z-10 rounded-t-2xl rounded-bl-2xl rounded-br-sm border-3 border-black bg-ppink px-5 py-1 text-5xl shadow-card transition group-hover:shadow-hover"
        >
          <Icon name="paint" />
        </div>
        <div
          class="absolute -right-16 top-16 z-10 rounded-full border-3 border-black bg-pyellow p-2 text-5xl shadow-card transition group-hover:shadow-hover"
        >
          <Icon name="beach" />
        </div>
        <div
          class="absolute -bottom-12 right-0 z-10 flex items-center gap-4 text-nowrap rounded-full border-3 border-black bg-pgreen pl-1 pr-4 shadow-card1 transition group-hover:shadow-card"
        >
          <Icon name="beach" />
          <p>Joaquín Sorolla</p>
        </div>
        <div class="relative -mt-30 h-80 w-60 overflow-hidden rounded-2xl">
          <Image
            class="absolute bottom-0 object-bottom transition group-hover:scale-105"
            src={images['/src/assets/hero.png']()}
            alt="Sorolla, photo wiki"
          />
        </div>
      </div></a
    >
  </div>
</section>
